<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../partials/HeaderFiles.ejs')%>

    <title>Document</title>
</head>
<body>

<div class="page-wrapper">
    <div class="preloader"></div>

    <%- include('../partials/adminHeader.ejs')%>
    <section class="page-title" style="background-image: url(images/background/page-title-bg.png);">
        <div class="auto-container">
            <div class="title-outer text-center">
                <h1 class="title">Dashboard</h1>
            </div>
        </div>
    </section>

    <%- include('../partials/footer.ejs')%>
</div>

</body>
</html>