<header class="main-header header-style-two">
    <div class="auto-container">
        <div class="main-box">
            <div class="logo-box">
                <div class="logo"><a href="index.html"><img src="images/logo-v5-black.png" alt title="Tronis"></a></div>
            </div>

            <div class="nav-outer">
                <nav class="nav main-menu">
                    <ul class="navigation">
                        <li><a href="/adminDashboard">Home</a></li>
                        <li><a href="/add-city">Add City</a></li>
                        <li><a href="/view-all-booking">View Bookings</a></li>
                        <li><a href="/adminChangePassword">Change Password</a></li>
                        <li><a href="/adminLogout">Logout</a></li>
                    </ul>
                </nav>

            </div>
        </div>

        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
        </div>


        <div class="sticky-header">
            <div class="auto-container">
                <div class="inner-container">

                    <div class="logo">
                        <a href="/"><img src="/images/logo-v5-black.png" alt></a>
                    </div>

                    <div class="nav-outer">

                        <nav class="main-menu">
                            <div class="navbar-collapse show collapse clearfix">
                                <ul class="navigation clearfix">

                                </ul>
                            </div>
                        </nav>

                        <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
