<footer class="main-footer footer-style-one">

    <div class="widgets-section">
        <div class="auto-container">
            <div class="row">

                <div class="footer-column col-lg-4 col-sm-6">
                    <div class="footer-widget about-widget wow fadeInLeft">
                        <div class="widget-content">
                            <div class="logo"><a href="#"> <img src="/images/logo-2.png" alt></a></div>
                            <div class="text">Welcome to the best five-star deluxe hotel in New <br>York. Hotel
                                elementum sesue the aucan vestibulum <br>aliquam justo in sapien rutrum volutpat.
                            </div>
                            <ul class="social-icon-two">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-column col-lg-4 col-sm-6 mb-0">
                    <div class="footer-widget links-widget wow fadeInLeft" data-wow-delay="200ms">
                        <h4 class="widget-title">Services Links</h4>
                        <div class="widget-content">
                            <ul class="user-links">
                                <li><a href="#"><i class="fa-solid fa-crosshairs"></i>Home</a></li>
                                <li><a href="#"><i class="fa-solid fa-crosshairs"></i>About Us</a></li>
                                <li><a href="#"><i class="fa-solid fa-crosshairs"></i>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="footer-column col-lg-4 col-sm-6">
                    <div class="footer-widget info-widget wow fadeInLeft" data-wow-delay="300ms">
                        <h4 class="widget-title">Information</h4>
                        <div class="widget-content">

                            <article class="recent-post">
                                <div class="inner">
                                    <div class="post-info"><i class="fas fa-phone"></i> 1800-121-3637</div>
                                    <div class="post-info">+91-7052-101-786</div>
                                    <div class="post-info"><i class="fas fa-location"></i> 1247/Plot No. 39, 15th
                                        Phase, <br>United States of America
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom wow slideInUp">
        <div class="auto-container">
            <div class="inner-container">
                <div class="copyright-text">© Copyrights reserved by kodesolution.</div>
                <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/slick-animation.min.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/flatpickr.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="//cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
