<header class="main-header header-style-one">
    <div class="auto-container">

        <div class="main-box">
            <div class="logo-box">
                <div class="logo"><a href="/"><img src="/images/logo-v4-black.png" alt title="Tronis"></a>
                </div>
            </div>

            <div class="nav-outer">
                <nav class="nav main-menu">
                    <ul class="navigation">
                        <li ><a href="/">Home</a></li>
                        <li class="dropdown"><a href="">Owner</a>
                            <ul>
                                <li ><a href="/userSignup">Sign-Up</a></li>
                                <li ><a href="/userLogin">Sign-In</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="">User</a>
                            <ul>
                                <li ><a href="/user-Signup">Sign-Up</a></li>
                                <li ><a href="/user-Login">Sign-In</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>

            </div>
        </div>

        <div class="mobile-menu">
        </div>

        <div class="sticky-header">
            <div class="auto-container">
                <div class="inner-container">

                    <div class="logo">
                        <a href="/"><img src="/images/logo-v4-black.png" alt></a>
                    </div>

                    <div class="nav-outer">

                        <nav class="main-menu">
                            <div class="navbar-collapse show collapse clearfix">
                                <ul class="navigation clearfix">

                                </ul>
                            </div>
                        </nav>

                        <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>