<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../partials/headerFiles.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">

    <title>Document</title>
</head>
<body onload="Booked()">
<%- include('../partials/userHeader')%>

<div id="DetailModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customer Personal Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="signupform" >

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="name">Full Name</label>
                                <input type="text" name="name" id="name" required class="form-control" placeholder="Enter Your Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" required class="form-control" placeholder="Enter Your Email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label for="address">Address'</label>
                                <textarea type="text" name="address" id="address" required placeholder="Enter Your Address" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="phone">Mobile No.</label>
                                <input type="tel" maxlength="10" name="phone" id="phone" required class="form-control" placeholder="Enter Your Contact Number">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<section class="page-title" style="background-image: url(/images/background/page-title-bg.png);">
    <div class="auto-container">
        <div class="title-outer text-center">
            <h1 class="title">Bookings</h1>
        </div>
    </div>
</section>

<div class="container">

    <table id="bookedDetails" class="table table-bordered table-dark table-hover">
        <thead>
        <tr>
            <th>Sr No.</th>
            <th>Booked By</th>
            <th>Property Name</th>
            <th>Check-In Date</th>
            <th>CheckOut Date</th>
            <th>Days of Stay</th>
            <th>Amount Paid</th>
            <th>User Details</th>
        </tr>
        </thead>
        <tbody id="booked">

        </tbody>
    </table>

</div>

<%- include('../partials/footer')%>
<script>

    async function Booked() {
        let response = await fetch('/user-view-booking')
        response = await response.json()
        //console.log(response)
        if (response.error !== "") {
            // console.log(response.error)
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: (response.error),
            });
        }
        else {
            //console.log(response.record)
            let html = ``;
            for (let i = 0; i < response.record.length; i++) {
                let records = response.record[i];
                //console.log(records)
                html += `<tr >
                         <td class="text-center">${i + 1}</td>
                         <td class="text-center">${records.name}</td>
                         <td class="text-center">${records.airBnbName}</td>
<td class="text-center">${records.checkin.split("T")[0]}</td>
                         <td class="text-center">${records.checkout.split("T")[0]}</td>
                         <td class="text-center">${records.days}</td>

                         <td class="text-center">${records.amount}</td>
                         <td class="text-center"><button onclick="Details(${records.user_id})" type="button" class=" btn-sm btn btn-primary">Details</button></td>`
            }

            document.getElementById('booked').innerHTML = html;
            let table = new DataTable('#bookedDetails');
        }
    }

    async function Details(id){
        //console.log(id)
        let response = await fetch('user-desc/'+id)
        response = await response.json()
        //console.log(response)
        if (response.error !== "") {
            // console.log(response.error)
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: (response.error),
            })
        }
        else {
            document.getElementById('name').value = response.record[0].name
            document.getElementById('email').value = response.record[0].email
            document.getElementById('address').value = response.record[0].address
            document.getElementById('phone').value = response.record[0].phone
            document.getElementById('name').disabled = true
            document.getElementById('email').disabled = true
            document.getElementById('address').disabled = true
            document.getElementById('phone').disabled = true
        }

        $("#DetailModal").modal('show')
    }

</script>
</body>
</html>